@model Assigntment4WebApp.ViewModels.Food.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Food Orders</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div>
        class="alert alert-info"
        @Model.Message
    </div>
}

<a class="btn btn-primary"
href="@Url.Action("Create")">Create New Order</a>

<table>
    class="table"
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Orders != null && Model.Orders.Count > 0)
        {

            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.OrderTotal.ToString("C")</td>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("Edit", order)">Edit</a>
                        <a class="btn btn-danger" herf="@Url.Action("Delete", new { IDataTokensMetadata = order.OrderId })">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No orders found.</td>
            </tr>
        }
    </tbody>
</table>

